
body {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 44px;
    background-color: #475563;
}

a, a#dropdownMenu {
    color: #e7e7db;
}

a:hover, a#dropdownMenu:hover{
    color: #c7c4bf;
    text-decoration :none;
}

h1{
    color: #333;
}

body:not(.no-splash){
    z-index: -1;
    width: 100%;
    height: 90vh;
    background-image: url("../images/witewall_3_@2X.png");
}

.btn-outline-primary {
    color:#e7e7db;
    border: 1px solid #e7e7db;
}

.btn-outline-primary:hover {
    background-color: #c7c4bf;
    color: #333;
    border: 1px solid #e7e7db;
}

.navbar {
    background-color: #343a40;
}
#footer {
    color: #fff;
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
}
.profile-img {
    height: 80px;
    width: 80px;
    /*object-fit: cover;*/
}

.profile-img:hover {
    box-shadow: 3px 3px 11px rgba(33, 33, 33, .5);
}
.aboutUs-img {
    height: 200px;
    width: 200px;
}

.fill {
    height: 90vh;
}

.hidden {
    display: none;
}

.custom-anchor a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.custom-btn a{
    z-index: 1;
}

.navbar-brand {
    font-size: 1.6rem;
}

.row.card.custom-anchor.my-4, .card-with-border {
    background-color: #475563;
    color: #cfcfcd;
    border: 10px solid #334355;
}

.card {
    background-color: #475563;
    color: #cfcfcd;
}
.card:hover{
    box-shadow: 3px 3px 11px rgba(33, 33, 33, .5);
}

.obliq-card {
    height: 200px;
    background-color: #c6bcd1;
    color: #475563;
    box-shadow: #475563 6px 6px 8px;
    /*text-shadow: papayawhip 1px 1px;*/
}

.obliq-card:hover {
    box-shadow: #475563 6px 6px 8px;
}
.post-owner {
    background-color: #989c9d;
    color: #333;
}

.btn-primary {
    color: #333;
    background-color: #c6bcd1;
    border: 1px solid #475563;
}
.btn-primary:hover {
    color: #333;
    border: 1px solid #334544;
    background-color: #c0b2d1;
}

#obliq-logo {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
}
.tribe-container {
    display: block;
}

.splash{
    /*background-color: #475563;*/
}

#splash-text {
    color: #e7e7db;
}

#logout {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #e7e7db;
}
#logout:hover {
    color: #c7c4bf;
    border: none;
}
#logout:active {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    outline: none;
}
.navbar-toggler-icon {
    color: #fff;
}
.profile-page-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.form-bg {
    background-image: url("../images/OBLIQ-LOGO-BLACK.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.profile-stat {
    width: 230px;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(198,188,209,.5) !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(198,188,209,.5) !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #816a9a !important;
    border-color: #475563 !important;
}

#obliq-about {
    margin-bottom: 100px;
}
.codeup-icon {
    height: 15px;
    margin-right: 2px;
}

.logo-row {
    height: 300px;
}
.badge-primary {
    background-color: #475563;
}