
body {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 44px;
    background-image: url("../images/witewall_3_@2X.png");
}

#footer {
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
}
.profile-img {
    height: 50px;
    width: 50px;
}

.profile-img:hover {
    box-shadow: 3px 3px 11px rgba(33, 33, 33, .5);
}
.aboutUs-img {
    height: 200px;
    width: 200px;
}

.fill {
    height: calc(100vh - 155px);
}

.hidden {
    display: none;
}

.custom-anchor a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.custom-btn a{
    z-index: 1;
}

.navbar-brand {
    font-size: 1.6rem;
}

.row.card.custom-anchor.my-4, .card-with-border {
    background-color: #475563;
    color: #cfcfcd;
    border: 10px solid #334355;
}

.card {
    background-color: #475563;
    color: #cfcfcd;
}
.card:hover{
    box-shadow: 3px 3px 11px rgba(33, 33, 33, .5);
}

.obliq-card {
    height: 200px;
    width:400px;
    background-color: #fadadd;
    color: #475563;
}
.post-owner {
    background-color: #989c9d;
}

.btn-primary {
    color: #cfcfcd;
    background-color: #334355;
    border: 1px solid #475563;
}
.btn-primary:hover {
    color: #cfcfcd;
    border: 1px solid #334544;
    background-color: #475563;
}

#obliq-logo {
    width: 100%;
    height: 100%;
    padding-bottom: 55px;
    overflow: hidden;
    animation: kenburns 20s infinite;
}




.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
}
.tribe-container {
    display: block;
}


