
body {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 44px;
}

#footer {
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
}
.profile-img {
    height: 50px;
    width: 50px;
}

.fill {
    height: calc(100vh - 155px);
}

.hidden {
    display: none;
}

.custom-anchor a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.custom-btn a{
    z-index: 1;
}

.navbar-brand {
    font-size: 1.6rem;
}

