<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/head :: head('Create')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />

<div class="container fill">
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <div class="form-group">
            <input th:field="*{title}" placeholder="title" class="form-control"/>
        </div>
        <div class="form-group">
            <textarea th:field="*{body}" placeholder="body" class="form-control"></textarea>
        </div>


        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>

<th:block th:replace="fragments/footer :: footer" />
<th:block th:replace="fragments/jsLinks :: jsLinks" />
</body>
</html>