<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head('Create')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<div class="container">
    <div class="row fill d-flex justify-content-center align-items-center">

        <div class="col-md-8">
            <h1 class="d-flex justify-content-center">Ask A Question</h1>
            <div class="card card-with-border">
                <div class="card-body">
                    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
                        <div class="form-group">
                            <label for="title">title</label>
                            <input id="title" th:field="*{title}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="body">body</label>
                            <textarea id="body" th:field="*{body}" placeholder="I'm having trouble with..."
                                      class="form-control"></textarea>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">
                                    <span class="fa fa-check mr-1"></span>
                                    <span>Submit</span>
                                </button>
                                <a href="/tribe" class="btn btn-primary">
                                    <span class="fa fa-times mr-1"></span>
                                    <span>Cancel</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/jsLinks :: jsLinks"/>
</body>
</html>