<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head('Edit')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />

<div class="container">
    <div class="row fill d-flex justify-content-center">
        <form class="col-12 col-md-6 my-5" th:action="@{'/posts/edit/' + ${id}}" th:method="post" th:object="${post}">
            <!--<form class="col-12 col-md-6">-->
            <h1 th:text="${'Edit Post'}" class="d-flex justify-content-center"></h1>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{title}"/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" th:field="*{body}"></textarea>
                        </div>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{dateCreated}"/>
                        <input type="hidden" th:field="*{cardID}" />
                        <div class="row">
                            <a href="/profile" class="btn btn-primary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            <!--</form>-->
        </form>

        <div class="col-12 col-md-6 my-5">
            <h1 th:text="${'Change Obliq Card'}" class="d-flex justify-content-center"></h1>
            <div class="card">
                <div class="card-body">

                    <form th:action="@{'/posts/edit/' + ${id}}" th:method="post" th:object="${post}" class="my-4">
                        <div class="card obliq-card">
                            <div class="card-body mx-auto d-flex align-items-center">
                                <div th:text="${card.card}"></div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:field="*{dateCreated}"/>
                            <input type="hidden" th:field="*{body}"/>
                            <input type="hidden" th:field="*{title}"/>
                            <button type="submit" name="change-card"
                                    class="btn btn-primary">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--<a href="/profile" class="btn btn-primary">Cancel</a>-->
        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
    <!--</form>-->
    </div>


</div>


<th:block th:replace="fragments/footer :: footer" />
<th:block th:replace="fragments/jsLinks :: jsLinks" />
</body>
</html>