<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/head :: head('Show')" />


    <style>
       #title {
           background-color: lightgrey;
           align-items: center;
           justify-content: center;
       }

       #post_body {
           background-color: red;
           height: 100px;
       }

       #submit_button {
           background-color: white;
           justify-content: right;
       }

       #body {
           background-color: white;
           justify-content: right;
       }


    </style>
</head>

<body>
    <th:block th:replace="fragments/navbar :: navbar" />

    <div class="container fill">

        </form>

        <br/>

        <div th:each="comment : ${comments}">
            <div sec:authorize="isAnonymous()" class="row" th:text="${comment.body}"> </div>
        </div>


            <!--<div class ="row">-->
                <!--<div class="col-sm">-->
                    <!--<small th:text="'posted on: ' + ${#dates.format(comment.dateCreated, 'yyyy-MM-dd')}"></small>-->
                <!--</div>-->
                <!--<div class="col-sm">-->
                    <!--<p th:text="'posted by: '+ ${comment.user.first_name}"></p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class ="row" >-->
                <!--<div class="col-sm">-->
                    <!--<p>	0 </p>-->
                <!--</div>-->
                <!--<div class="col-sm">-->

                <!--</div>-->
                <!--<div class="col-sm">-->
                    <!--<button type="submit">upvote</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->






                <!--If your not the owner of the post-->




                <!--&lt;!&ndash;For each start&ndash;&gt;-->
                <!--<div th:each="comment : ${comments}" class="row">-->

                    <!--&lt;!&ndash;view 1: non comment owner&ndash;&gt;-->
                    <!--<div sec:authorize="isAnonymous()" class ="row" id="not_comment_owner">-->
                        <!--<p th:text="${comment.body}"></p>-->
                    <!--</div>-->
                    <!--<div class ="row">-->
                        <!--<div class="col-sm">-->
                            <!--<small th:text="'posted on: ' + ${#dates.format(comment.dateCreated, 'yyyy-MM-dd')}"></small>-->
                        <!--</div>-->
                        <!--<div class="col-sm">-->
                            <!--<p th:text="'posted by: '+ ${comment.user.first_name}"></p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class ="row" >-->
                        <!--<div class="col-sm">-->
                            <!--<p>	0 </p>-->
                        <!--</div>-->
                        <!--<div class="col-sm">-->

                        <!--</div>-->
                        <!--<div class="col-sm">-->
                            <!--<button type="submit">upvote</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->





             <!--</div>-->
         <!--</div>-->
    </div>


    <th:block th:replace="fragments/footer :: footer" />
    <script src = "../../static/js/showPost.js"> </script>

</body>

</html>