<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/head :: head('Show')"/>
</head>

<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<div class="container my-4">

    <!--   Card for post   -->
    <div class="row jumbotron my-4">

        <div class="col-md-6 my-2">
            <h1 th:text="${post.title}" class="d-flex justify-content-center"></h1>
            <p th:text="${post.body}" class="d-flex justify-content-center"></p>
        </div>
        <div class="row">
                <h4 class="row ml-5 mt-auto">  an inspiration for your problem:</h4>
        </div>
        <div class="col-md-6 card obliq-card ml-auto">
            <div class="card-body d-flex justify-content-center align-items-center mx-auto">
                <h5 th:text="${card.card}"></h5>
            </div>
        </div>

    </div>

    <!--   card for comments   -->
    <div th:each="comment : ${comments}">

        <!--   card for post owner   -->
        <div th:if="${comment.user.id == user.id}" class="row card my-4 ml-auto post-owner px-2" style="width:75%">
            <div class="col card-body">
                <p th:text="${comment.body}"></p>

                <small th:text="'posted on: ' + ${#dates.format(comment.dateCreated, 'MM-dd-yyyy')}"></small>
                <p th:text="'posted by: '+ ${comment.user.first_name}"></p>

                <div class="row">
                    <div class="col mr-auto">
                        <a th:href="@{'/edit/' + ${comment.id}}" class="btn btn-primary ml-5">Edit</a>
                        <a th:href="@{'/delete/' + ${comment.id}}" class="btn btn-primary ml-5">Delete</a>
                    </div>
                    <!--   number of votes   -->
                    <div th:text="${comment.getUsers().size()}" class="ml-auto px-2"></div>
                    <a href="#" class="btn btn-secondary">
                        <i class="far fa-thumbs-up"></i>

                    </a>
                </div>
            </div>
        </div>

        <!--   edit modal   -->
        <!--<div class="modal fade" id="editModal" th:id="${'/edit/' + ${comment.id}}" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">-->
            <!--<div class="modal-dialog modal-dialog-centered" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-body">-->
                        <!--<h5 class="modal-title d-flex justify-content-center">Edit Comment</h5>-->
                        <!--<div class="card card-with-border">-->
                            <!--<div class="card-body">-->
                                <!--<form th:action="@{'/edit/' + ${id}}" th:method="post" th:object="${comment}">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="body">body</label>-->
                                        <!--<input id="body" type="text" th:field="*{body}" class="form-control" />-->
                                        <!--<input type="hidden" th:field="*{id}" />-->
                                        <!--<input type="hidden" th:field="*{post.id}" />-->
                                        <!--<input type="hidden" th:field="*{dateCreated}" />-->
                                    <!--</div>-->
                                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                                    <!--<a th:href="@{'/posts/showPost/' + ${post.id}}" class="btn btn-primary">Cancel</a>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>-->
                        <!--<button type="button" class="btn btn-primary">Submit</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--   card for users that didn't create post   -->
        <div th:unless="${comment.user.id == user.id}" class="row card my-4 mr-auto px-2" style="width:75%">
            <div class="col card-body">
                <p th:text="${comment.body}"></p>

                <small th:text="'posted on: ' + ${#dates.format(comment.dateCreated, 'yyyy-MM-dd')}"></small>
                <p th:text="'posted by: '+ ${comment.user.first_name}"></p>

                <!--   if user has voted   -->

                <div th:if="${user.comment_with_points.contains(comment)}" class="row ml-auto">
                    <!--   number of votes   -->
                    <div th:text="${comment.getUsers().size()}" class="ml-auto px-2"></div>
                    <a href="#" class="btn btn-success">
                        <i class="far fa-thumbs-up"></i>
                    </a>
                </div>

                <!--   if user has not voted   -->

                <div th:unless="${user.comment_with_points.contains(comment)}" class="row ">
                    <!--   number of votes   -->
                    <div th:text="${comment.getUsers().size()}" class="ml-auto px-2"></div>
                    <a th:href="@{'/add/' + ${comment.id}}" class="btn btn-primary">
                        <i class="far fa-thumbs-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--   form to create new comment   -->
    <form th:action="@{/comments/create}" th:method="post" th:object="${comment}">
        <div class="form-group my-5">
            <input th:field="*{body}" class="form-control" placeholder="enter comment"/>
            <input type="hidden" name="postId" th:value="${post.id}"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/jsLinks :: jsLinks"/>

</body>

</html>