<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/head :: head('Show')"/>
</head>

<body>
<th:block th:replace="fragments/navbar :: navbar"/>
<div class="container">
    <div th:text="${card.card}" class="row"></div>
</div>

<div class="container fill">
    <div class="row">
        <h1 th:text="${post.title}" class="mx-auto"></h1>
    </div>
    <div class="row">
        <p th:text="${post.body}" class="mx-auto"></p>
    </div>
    <div class="row" th:each="comment : ${comments}">
        <p th:text="${comment.body}"></p>
        <small sec:authorize="isAnonymous()"
               th:text="'posted on: ' + ${#dates.format(comment.dateCreated, 'yyyy-MM-dd')}"></small>
        <p sec:authorize="isAnonymous()" th:text="'posted by: '+ ${comment.user.first_name}"></p>

        <!--   show edit and delete for user who created comment   -->
        <div  th:if="${comment.user.id == user.id}" class="row">
            <a th:href="@{'/edit/' + ${comment.id}}" class="btn btn-primary ml-5">Edit</a>
            <a th:href="@{'/delete/' + ${comment.id}}" class="btn btn-primary ml-5">Delete</a>
        </div>

        <div th:text="${comment.getUsers().size()}" class="col"></div>
        <!--   hide vote button form user who created comment   -->
        <div th:unless="${comment.user.id == user.id}" class="col">
            <div th:if="${user.comment_with_points.contains(comment)}">
                <a href="#" class="btn btn-warning ml-5">Voted</a>
            </div>
            <div th:unless="${user.comment_with_points.contains(comment)}">
                <a th:href="@{'/add/' + ${comment.id}}" class="btn btn-primary ml-5">Upvote</a>
            </div>
        </div>

    </div>
    <form th:action="@{/comments/create}" th:method="post" th:object="${comment}">
        <div class="form-group my-5">
            <input th:field="*{body}" class="form-control" placeholder="enter comment"/>
            <input type="hidden" name="postId" th:value="${post.id}"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/jsLinks :: jsLinks" />

</body>

</html>