<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head('Edit Comment')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<div class="container">
    <div class="row fill d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <h1 class="d-flex justify-content-center">Edit Comment</h1>
            <div class="card card-with-border">
                <div class="card-body">
                    <form th:action="@{'/edit/' + ${id}}" th:method="post" th:object="${comment}">
                        <div class="form-group">
                            <label for="body"></label>

                           
                            <textarea id="body" th:field="*{body}" class="form-control"></textarea>
                            <input type="hidden" th:field="*{id}" />
                            <input type="hidden" th:field="*{post.id}" />
                            <input type="hidden" th:field="*{dateCreated}" />


                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="@{'/posts/showPost/' + ${post.id}}" class="btn btn-primary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/jsLinks :: jsLinks"/>
</body>
</html>