<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <nav th:fragment="navbar" class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">Obliq</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main" aria-controls="main" aria-expanded="false" aria-label="toggle-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/signup">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="dropdown">
                    <a class="btn-link btn dropdown-toggle" href="#" role="button" id="dropdownMenu" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Profile</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/posts/create">Create Post</a>
                        <a class="dropdown-item" th:href="@{'/users/edit/' + ${#authentication.principal.id}}">Edit Profile</a>
                        <form th:action="@{/logout}" th:method="post" class="dropdown-item">
                            <button id="navbarBtnLink" class="btn-link btn btn-primary">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</html>