<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<nav th:fragment="navbar" class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Obliq</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main" aria-controls="main"
            aria-expanded="false" aria-label="toggle-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-1">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item px-1">
                <a class="nav-link" href="/tribe">My Tribe</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item px-1">
                <a class="nav-link" href="/profile">My Questions</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item px-1">
                <a class="nav-link" href="/posts/create">Post Question</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li sec:authorize="isAnonymous()" class="nav-item px-1">
                <a class="nav-link" href="/login">Sign In</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item px-1">
                <a class="btn btn-outline-primary" href="/signup">Register</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="dropdown">
                <a class="nav-link btn-link btn dropdown-toggle" href="#" role="button" id="dropdownMenu"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">My Account</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" th:href="@{'/users/edit/' + ${#authentication.principal.id}}">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <form th:action="@{/logout}" th:method="post">
                        <button type="submit" class="dropdown-item">Sign Out</button>
                    </form>
                </div>
            </li>
        </ul>


    </div>
</nav>
</html>