<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:thL="http://www.w3.org/1999/html">
<head>
    <th:block th:replace="fragments/head :: head('Edit Profile')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<div class="container">
    <div class="row fill">
        <div class="col-md-6 form-bg"></div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class="d-flex justify-content-center">Edit Profile</h1>
            <div class="card card-with-border">
                <div class="card-body">
                    <form th:action="@{'/users/edit/' + ${id}}" th:method="post" th:object="${user}">
                        <div class="form-group row">
                            <div class="col">
                                <label for="username">username</label>
                                <input id="username" type="text" th:field="*{username}" class="form-control"/>
                            </div>
                            <div class="col">
                                <label for="firstName">first name</label>
                                <input id="firstName" type="text" th:field="*{first_name}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col">
                                <label for="bio">bio</label>
                                <textarea id="bio" th:field="*{bio}" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{password}"/>
                        <input type="hidden" th:field="*{dateCreated}"/>
                        <input type="hidden" th:field="*{imageURL}"/>
                        <input type="hidden" th:field="*{email}" />
                        <input type="hidden" th:field="*{career_id}" />
                        <input type="hidden" th:field="*{tribe_id}" />
                        <input type="hidden" th:field="*{continent}" />

                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">
                                    <span class="fa fa-check mr-1"></span>
                                    <span>Submit</span>
                                </button>
                                <a href="/my-profile" class="btn btn-primary">
                                    <span class="fa fa-times mr-1"></span>
                                    <span>Cancel</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/jsLinks :: jsLinks"/>
</body>
</html>