<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head('Login')" />
</head>
<body>
<th:block th:replace="fragments/navbar" />

<div class="container">
    <div class="row fill d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <h1 class="d-flex justify-content-center mx-auto">Login</h1>
            <div class="card card-with-border">
                <div class="card-body">
                    <div th:if="${param.error}">
                        Invalid Username or Password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <form th:action="@{/login}" th:method="post">
                        <div class="form-group">
                            <input id="username" type="text" class="form-control" name="username"
                                   placeholder="username"/>
                        </div>
                        <div class="form-group">
                            <input id="password" type="password" class="form-control" name="password"
                                   placeholder="password"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer" />
<th:block th:replace="fragments/jsLinks :: jsLinks" />
</body>
</html>