<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head('Profile')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<div class="container-fluid my-4">
    <div class="text-center mt-3">
        <img th:src="@{${user.imageURL}}" class="profile-page-img rounded-circle border mb-1"/>
        <h1 th:text="${user.first_name}"></h1>
        <div class="col-md-6 d-flex mx-auto">
        <p th:text="${user.bio}" class="text-center"></p>
        </div>
        </div>
    <div class="row my-3">

        <div class="col-6 text-right pr-5 border-right">
            <div class="text-center d-inline-block profile-stat">
                <p class="mb-0 text-muted">Career</p>
                <h4 th:text="${careers.title}"></h4>
            </div>
        </div>
        <div class="col-6 pl-5 border-left">
            <div class="text-center d-inline-block profile-stat">
                <p class="mb-0 text-muted">Joined</p>
                <h4 th:text="${#dates.format(user.dateCreated, 'MM.dd.yyyy')}"></h4>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <h1>My Questions</h1>
    <div class="row my-2">
        <div th:each="post : ${posts}" class="col-12 col-md-4 my-2">
            <div class="card ">
                <div class="card-body">
                    <a th:href="@{'posts/showPost/' + ${post.id}}">
                        <h3 th:text="${post.title}"></h3>
                    </a>
                    <p th:text="${post.body}"></p>
                    <p>
                        <small th:text="'posted on: ' + ${#dates.format(post.dateCreated, 'MM.dd.yyyy')}"></small>
                    </p>
                    <a th:href="@{'/posts/edit/' + ${post.id}}" class="btn btn-primary">
                        <span class="far fa-edit mr-1"></span>
                        <span>Edit</span>
                    </a>
                    <a th:href="@{'/posts/delete/' + ${post.id}}" class="btn btn-primary">
                        <span class="far fa-trash-alt mr-1"></span>
                        <span>Delete</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container my-4">
    <h1>My Comments</h1>
    <div class="row my-2">
        <div th:each="comment : ${comments}" class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-body">

                    <p th:text="${comment.body}"></p>
                    <p>
                        <small th:text="'posted on: ' + ${#dates.format(comment.dateCreated, 'MM.dd.yyyy')}"></small>
                    </p>
                    <a th:href="@{'/edit/' + ${comment.id}}" class="btn btn-primary">
                        <span class="far fa-edit mr-1"></span>
                        <span>Edit</span>
                    </a>
                    <a th:href="@{'/delete/' + ${comment.id}}" class="btn btn-primary">
                        <span class="far fa-trash-alt mr-1"></span>
                        <span>Delete</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<form>

</form>
<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/jsLinks :: jsLinks"/>

</body>
</html>

