<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head('Profile')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<div class="container-fluid">
    <div class="row  my-5">
        <div class="col-md-4 d-flex flex-column align-items-center justify-content-around">
            <img th:src="@{${user.imageURL}}" class="profile-page-img rounded-circle"/>
            <h2 th:text="${user.first_name}"></h2>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center">
            <h3 class="d-flex justify-content-center">About me</h3>
            <p th:text="${user.bio}"></p>
        </div>
        <div class="col-md-4">
            <div class="row d-flex flex-column justify-content-center align-items-center">
                <h3>Career</h3>
                <p th:text="${careers.title}"></p>
            </div>
            <div class="row d-flex flex-column justify-content-center align-items-center my-5">
                <h3>Date Joined</h3>
                <p th:text="${#dates.format(user.dateCreated, 'MM-dd-yyyy')}"></p>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <h1>My Posts</h1>
    <div class="row my-2">
        <div th:each="post : ${posts}" class="col-12 col-md-4 my-2">
            <div class="card ">
                <div class="card-body">
                    <a th:href="@{'posts/showPost/' + ${post.id}}">
                        <h3 th:text="${post.title}"></h3>
                    </a>
                    <p>
                        <small th:text="'posted on: ' + ${#dates.format(post.dateCreated, 'MM-dd-yyyy')}"></small>
                    </p>
                    <p th:text="${post.body}"></p>
                    <a th:href="@{'/posts/edit/' + ${post.id}}" class="btn btn-primary">Edit</a>
                    <a th:href="@{'/posts/delete/' + ${post.id}}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container my-4">
    <h1>My Comments</h1>
    <div class="row my-2">
        <div th:each="comment : ${comments}" class="col-12 col-md-4 my-2">
            <div class="card">
                <div class="card-body">

                    <p th:text="${comment.body}"></p>
                    <p>
                        <small th:text="'posted on: ' + ${#dates.format(comment.dateCreated, 'MM-dd-yyyy')}"></small>
                    </p>
                    <a th:href="@{'/edit/' + ${comment.id}}" class="btn btn-primary">Edit</a>
                    <a th:href="@{'/delete/' + ${comment.id}}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>

    </div>
</div>
<form>

</form>
<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/jsLinks :: jsLinks"/>

</body>
</html>

