<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head('About')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>
<div class="container">
    <div class="row my-5">
        <div class="col-md-4 my-4">
            <h1 class="d-flex justify-content-center">Travis Vela</h1>
            <div class="card card-with-border">
                <div class="card-body">
                    <div class="col d-flex flex-column">
                        <img th:src="@{'https://cdn.filestackcontent.com/ooJkdSgyRwegSudEjyZ5'}"
                             class="aboutUs-img rounded-circle my-5 mx-auto"/>
                        <!--<p class="my-2 mx-auto">Quote goes here</p>-->
                        <h5 class="my-2 mx-auto"><a th:href="@{http://www.github.com/travisVela}">GitHub:
                            /travisvela</a></h5>
                        <h5 class="mx-auto"><a th:href="@{http://www.linkedin/in/travisvela}">LinkedIn:
                            in/travisvela</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-bg col-md-4 d-flex flex-column align-items-center justify-content-end">
            <!--<img th:src="@{'static/images/OBLIQ-LOGO-BLACK.png'}" src="../static/images/OBLIQ-LOGO-BLACK.png"/>-->
            <h1 id="obliq-about" class="text-center d-none d-md-block">OBLIQ</h1>
        </div>
        <div class="col-md-4 my-4">
            <h1 class="d-flex justify-content-center">Carlo Munguia</h1>
            <div class="card card-with-border">
                <div class="card-body">
                    <div class="col d-flex flex-column">
                        <img th:src="@{'https://cdn.filestackcontent.com/m8R5P3QAST812c3pCQ5w'}"
                             class="aboutUs-img rounded-circle my-5 mx-auto"/>

                        <!--<p class="my-2 mx-auto">Quote goes here</p>-->
                        <h5 class="my-2 mx-auto"><a th:href="@{http://www.github.com/carlomunguia}">GitHub:
                            /carlomuguia</a></h5>
                        <h5 class="mx-auto"><a th:href="@{http://www.linkedin/in/carlomunguia}">LinkedIn:
                            in/carlomuguia</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/jsLinks :: jsLinks"/>
</body>
</html> 