<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head('Profile')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />
<h1>Hello, <span th:text="${user.first_name}"></span></h1>
<div class="container">
    <div class="row">
        <div class="col col-md-4">
            <div th:text="${card.card}" class="btn-primary mx-auto text-center"></div>
            <img th:src="@{${user.imageURL}}" class="profile-img rounded-circle" />
            <p th:text="${user.bio}"></p>
        </div>

    </div>
</div>


<div class="container fill" >
    <div class="row my-5">
        <div th:each="post : ${posts}" class="col col-md-4">
            <h3 th:text="${post.title}"></h3>
            <p> <small th:text="'posted on: ' + ${#dates.format(post.dateCreated, 'yyyy-MM-dd')}"></small></p>
            <p th:text="${post.body}"></p>
            <a th:href="@{'/posts/edit/' + ${post.id}}" class="btn btn-primary">Edit</a>
            <a th:href="@{'/posts/delete/' + ${post.id}}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
<form>

</form>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/jsLinks :: jsLinks" />
</body>
</html>

