<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="fragments/head :: head('Splash')"/>
</head>

<body class="container background-color">
<div class="bg-transparent container text-center">
    <br/>
    <h1 class="bg-transparent text-center border">OBLIQ</h1>
    <br/><br/><br/><br/><br/>
    <br/><br/><br/>
    <button class="btn-lg text-color background-color">
        BEGIN
    </button>
    <br/><br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <h2 class="text-center border text-color bg-transparent">PROBLEM SOLVING: REDEFINED</h2>
</div>
</body>
</html>